[Unit]
Description=Run zizzania daemonized

[Service]
Restart=always

EnvironmentFile=/opt/zizzania/environment
ExecStartPre=-airmon-ng start $ADAPTER
ExecStart=/usr/local/bin/zizzania -i $ADAPTER_MON -M -d 10 -w /tmp/zizzania.pcap
#StandardOutput=file:/tmp/zizzania.stdout

[Install]
WantedBy=multi-user.target
